
:root {
    --clr-dark: #111111;
    --clr-light: #eef8fa;
    --btn-volor: #a2d6e0;
    --txt-volor: #eef8fa;
    --gradient-dark: #262626;
    --gradient-light: #fffff5;
}

body {
    background: var(--clr-light);
    background: linear-gradient(90deg, var(--clr-light) 0%, var(--clr-light) 45%, var(--gradient-light) 100%);
    color: var(--clr-dark);
    --theme-switch: var(--clr-dark);
    font-family: "Gill Sans", sans-serif;
}

.darkmode {
    background: var(--clr-dark);
    background: linear-gradient(90deg, var(--clr-dark) 0%, var(--clr-dark) 45%, var(--gradient-dark) 100%);
    background-color: var(--clr-dark);
    color: var(--clr-light);
    --theme-switch: var(--clr-light);
    font-family: "Gill Sans", sans-serif;
}

div.center {
    text-align: center;
}

.dark-mode-toggle {
    position: absolute;
    z-index: 100;
    top: 1em;
    right: 1em;
    color: var(--theme-switch);
    border: 2px solid currentColor;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}


.report-buttons {
    background-color: var(--btn-volor);
    border-radius: 5px;
    margin: 3px;
    height: 50px;
    width: 115px;
}

.extra-buttons {
    background-color: var(--btn-volor);
    border-radius: 25px;
    margin: 9px;
    height: 50px;
    width: 115px;

}

.lab-buttons {
    background-color: var(--btn-volor);
    border-radius: 5px;
    height: 65px;
    width: 200px;
    position: relative;
    top: 20px;
    left: 60px;
    margin: 6px;
}

h3 {
    height: 65px;
    width: 200px;
    position: relative;
    top: 20px;
    left: 60px;
    margin: 6px;
}

p {
    position: relative;
    text-align: left;
    left: 100px;
    width: 1500px;
}

.Report {
    display: flex;
    flex-direction: row;
}

#Desc, #Theme, #Vysnovok #Appearance {
    flex-grow: 9;
}

#Lab {
    flex-grow: 1;
}
