div {
    border: 1px solid black;
    font-size: 20px;
    height: 80px;
    border-collapse: collapse;
}

#header {
    background: gold;
    height: 60px;
    width: 530px;
    border-collapse: collapse;
}

.ui {
    height: 30px;
    width: 200px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    background: #fdfdfd;
    border: 1px solid black;
}

.pl {
    height: 40px;
    width: 180px;
    background: crimson;
    margin-top: 240px;
    margin-bottom: 100px;
    border: 1px solid black;
}


#two {
    background: #0066FF;
    float: left;
    width: 80px;
    height: 450px;
    border-collapse: collapse;
}

#klo {
    height: 60px;
    width: 400px;
    background: crimson;
    border: 1px solid black;
    margin-left: 100px;
    margin-top: 20px;

}

#three {
    background: #ffffff;
    width: 180px;
    height: 300px;
    margin-top: 20px;
    float: left;
    margin-left: 20px;
}

#four {
    float: left;
    width: 200px;
    height: 300px;
    margin-left: 10px;
    margin-top: 20px;
    background: #0066FF;
    border: 1px solid black;
}

.vc {
    background: white;
    border: 1px solid black;
    width: 530px;
    height: 450px;
}

#footer {
    position: absolute;
    background: gold;
    height: 60px;
    width: 530px;
}