th {
    border: 1px solid grey;
    padding: 20px 15px;
    background: blue;
}
td {
    padding: 300px 15px;
    border: 1px solid grey;
    height: 200px;
}

div {
    border: 1px solid black;
    font-size: 20px;
    height: 80px;
    border-collapse: collapse;
}

#header {
    background: #0066FF;
    height: 60px;
    width: 530px;
    border-collapse: collapse;
    border: 1px solid black;
}

#two {
    background: gold;
    float: left;
    width: 150px;
    height: 450px;
    border-collapse: collapse;
    border: 1px solid black;
}

#three {
    background: #ffffff;
    width: 225px;
    height: 450px;
    float: left;
    border: 1px solid black;
}

#four {
    width: 150px;
    height: 450px;
    float: left;
    border: 1px solid black;
    background: gold;
}

#footer {
    position: absolute;
    background:#0066FF ;
    height: 60px;
    width: 530px;
    margin-top: 450px;
    border: 1px solid black;
}